@using CRM_EasyUI_2016;
@using GroupThink.CRM.Common;
@using System;
@using GroupThink.CRM.Model.Sys;
@{
    //List<PermModel> perm = (List<PermModel>)ViewBag.Perm;
    //if (perm == null)
    //{
    //    perm = new List<PermModel>();
    //}
    ViewBag.Title = "AllotRole";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}
<div id="dlg" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<div region="center" border="false">
    <div class="easyui-layout" fit="true">
        <div region="north" border="false">
            <table width="100%" style="border:none">
                <thead>
                    <tr>
                        <td align="center">
                            <div class="btn sub_btn" style="padding:0; font-weight:normal">
                                @Html.BsButtonT("button", "btnSave", "保存", "btn btn-primary")
                                @Html.BsButtonT("button", "btnClose", "关闭", "btn btn-primary")
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
        <div region="center" border="false" class="bb" style="padding: 0 10px;">
           <table id="List"></table>           
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btnClose").click(function () {
            window.parent.frameReturnByClose()
        });
        $("#btnSave").click(function () {
            var ids = [];
            var rows = $('#List').datagrid('getSelections');
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].ID);
            }
            if (rows == null) {
                $.show_alert('提示', '请选择角色!');
            }
            else {
                $.ajax({
                    traditional: true, //
                    url: "/CRM_User/AllotRole",
                    type: "Post",
                    data: { roleList: ids, userId: '@ViewData["Id"]' },
                    dataType: "json",
                    success: function (data) {
                        if (data == 1) {
                            window.parent.frameReturnByMes("分配成功");
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(msg.failOperate);
                        }
                    }
                });
            }
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            url: '/CRM_User/GetRoleList?id=@ViewData["Id"]',     
            width: $(window).width() - 10,
            methord: 'post',
            height: $(window).height() - 35,
            fitColumns: true,
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: SystemConfig.PageSize,
            pageList: SystemConfig.PageList,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: false, //多选模式
            rownumbers: true, //行号
            columns: [[
                { field: 'ck', checkbox: true },
                { field: 'ID', title: 'ID', width: 100, align: 'center', hidden: true },      
                { field: 'Name', title: '角色名称', width: 100, align: 'left',
                    formatter: function (value, rowData) {
                        return "<a href='#' onclick='javascript:openIframe(" + rowData.ID + ")'>" + value + "</a>";
                    }
                },
                { field: 'Dept_', title: '部门名称', width: 100, align: 'left' },
                { field: 'Des', title: '角色描述', width: 100, align: 'left' }              
            ]],
                onLoadSuccess: function (data) {
                    if (data) {
                        $.each(data.rows, function (index, item) {
                            if (item.IsSelect == true) {
                                $('#List').datagrid('checkRow', index);
                            }
                        });
                    }
                }
        });
    });   
    function openIframe(id) {
        $("#dlg").html("<iframe width='100%' height='99%' scrolling='no' frameborder='0' src='/CRM_Role/Details?id=" + id + "'></iframe>");
        $("#dlg").window({ title: '详情', width: 400, height: 350, iconCls: 'icon-add' }).window('open');
    }   
</script>

