@using CRM_EasyUI_2016;
@using GroupThink.CRM.Common;
@using System;
@using GroupThink.CRM.Model.Sys;
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>仿新浪微博下拉页面底部加载更多</title>
    <style type="text/css">
        #main {
            margin: 10px auto;
            width: 990px;
        }
 
        #ListContent {
            color: white;
            position: relative;
        }
 
        #Listinfo {
            width: 850px;
            float: left;
            background-color: #071A37;
            position: relative;
            padding-bottom: 50px;
        }
 
            #Listinfo li {
                list-style: none;
                width: 800px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                float: left;
            }
 
        #LoadingMsg {
            display: none;
            margin: 0 0;
            padding: 0 0;
            height: 25px;
            line-height: 25px;
            width: 800px;
            position: absolute;
            left: 48px;
            text-align: center;
            vertical-align: middle;
            bottom: 20px;
        }
 
            #LoadingMsg span {
                margin: 0 0;
                padding: 0 0;
                background: url(loading.gif) left center no-repeat;
                padding-left: 30px;
                height: 25px;
                line-height: 25px;
            }
    </style>
    <script src="../../../../Scripts/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var PageNum = 0;
            $(window).scroll(function () {
                var totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop()); //浏览器的高度加上滚动条的高度
                if ($(document).height() <= totalheight)//当文档的高度小于或者等于总的高度的时候，开始动态加载数据
                {
                    $('#LoadingMsg').css('display', 'block');
                    var randcode = 1 + Math.round(Math.random() * 9999);
                    $.ajax({
                        type: "Post",
                        url: "/TestManager/Test/Test?PageNum=" + PageNum + "&randcode" + randcode,
                        dataType: "json",
                        success: function (data) {
                            $.each(data.rows, function (i, item) {
                                if (item.Num == '-1') {
                                    $('#LoadingMsg').html('没有更多数据了');
                                    $('#LoadingMsg').css('display', 'block');
                                }
                                else {
                                    $("#Listinfo").append("<li>" + item.Num + ".<font color='red'>" + item.Ntitle + "</font></li>"); //加载数据
                                }
                            })
                            if (data.length > 0) {
                                PageNum++;
                            }
                            //$('#LoadingMsg').css('display', 'none');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("程序错误，错误信息：" + errorThrown);
                        }
                    });
                }
            });
        })
    </script>
</head>
<body>
    <div id="main">
        <div id="ListContent">
            <ul id="Listinfo">
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
                <li>这里是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很的新闻标题</li>
            </ul>
            <div style="clear: both"></div>
            <div id="LoadingMsg">
                <span>正在加载，请稍后...</span>
            </div>
        </div>
    </div>
</body>
</html>
